Django==1.6.8
South==1.0
+git+git://github.com/Telerivet/telerivet-python-client
django-filter==0.9.0
djangorestframework==3.0.0
djrill==1.1.1
httplib2==0.9
phonenumbers==7.0.1
requests==2.3.0
six==1.8.0
twilio==3.6.10
wsgiref==0.1.2
