django-reversion-compare
Django==1.8.1
git+https://github.com/Telerivet/telerivet-python-client.git
django-filter==0.10.0
djangorestframework==3.0.0
djrill==1.1.1
httplib2==0.9
phonenumbers==7.0.1
requests==2.3.0
six==1.8.0
twilio==3.6.10
wsgiref==0.1.2
flake8==2.4.0
psycopg2==2.6
django-reversion==1.8.6
diff-match-patch==20110725.1
django-organizations==0.5.1
