django-reversion-compare
Django==1.8.2
git+https://github.com/Telerivet/telerivet-python-client.git
django-extensions==1.5.2
django-filter==0.10.0
djangorestframework==3.0.0
djrill==1.1.1
django-admin-bootstrapped==2.5.1
httplib2==0.9
phonenumbers==7.0.1
six==1.8.0
twilio==3.6.10
wsgiref==0.1.2
flake8==2.4.0
psycopg2==2.6
django-reversion==1.8.6
diff-match-patch==20110725.1
django-organizations==0.5.1
supervisor==3.1.3
uWSGI==2.0.10
ipython
django-celery==3.1.16
mock==1.0.1
Werkzeug
