{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ title }} | {% trans 'Trace & Go' %}{% endblock %}</title>

    <link rel="icon" href="/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="//ehealthafrica.github.io/ehealth-bootstrap/default/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap theme -->
    <link href="//ehealthafrica.github.io/ehealth-bootstrap/default/bootstrap-ehealth.css" rel="stylesheet">

    <!-- Styleguide CSS -->

    <link href="//ehealthafrica.github.io/css/font-awesome.css" rel="stylesheet">
    <link href="//ehealthafrica.github.io/css/styleguide.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}" />

  </head>

  <body>

    <nav class="navbar navbar-call-center navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          {% if user.is_authenticated %}
          <button type="button" class="navbar-toggle collapsed dropdown-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span style="color:white;">Menu</span>
          </button>
          {% endif %}
          <a class="navbar-brand" href="/">
            <img src="{% static "images/app-tag-32.png" %}">
            <span>Trace & Go</span>
          </a>
        </div>
        {% if user.is_authenticated %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a id="welcome-dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ user.username }} <b class="caret"></b></a>
              <ul class="dropdown-menu" style="background-color:white;" role="menu" aria-labelledby="dLabel">
                <li><a tabindex="-1" style="color:#0F74BD;" href="/patients/add">Add Patient</a></li>
                <li><a tabindex="-1" style="color:#0F74BD;" href="/patients">List Patients</a></li>
                <li><a tabindex="-1" style="color:#0F74BD;" href="/accounts/logout">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </nav>

    {% if user.is_authenticated %}
    <div class="container-fluid">
      <div class="row wrapper">

        <div class="col-sm-4 col-md-3 sidebar">
          <a href="/patients/" class="btn btn-primary btn-block btn-lg">
            <span class="fa fa-bed"></span> Patients
          </a>
          <a href="/patients/add/" class="btn btn-primary btn-block btn-lg">
            <span class="fa fa-plus"></span> Add Patient
          </a>
        </div>
        {% endif %}

        <div class="col-sm-8 col-md-9 main">

          {% block main %}
          {% endblock main %}

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- See static/js/main.js for details. -->
    {% block javascript %}
    <script data-main="{% static 'js/main' %}" src="{% static 'js/require.js' %}"></script>
    {% endblock %}

  </body>
</html>
