{% extends "index.html" %}

{% block sidebar %}
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">

      <div class="col-xs-12" style="height:50px;"></div>

      <form style="display:inline-block" name="LoginForm" action="/accounts/login/?next=/patients/" method="post">
        {% csrf_token %}

        <input type="text" class="form-control" style="margin:4px;text-align:center" id="username" name="username" placeholder="Username"/>

        <input type="password" class="form-control" name="password" style="margin:4px; text-align:center" id="password" placeholder="Password"/>

        <div class="clearfix">
          <button class="btn btn-primary" style="margin-right:-7px; margin-top:8px" id="save"><i class="fa"></i><span>Log in</span></button>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}
