{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<h2><span class="fa fa-bed"></span> Patients</h2>
<hr>

<form class="navbar-form navbar" role="search">
  <div class="form-group pull-left">
    <input id="searchPatientList" type="text" class="form-control" placeholder="Search">
    <select id="filterByStatus" class="form-control">
      <option value="" disabled>Filter by patient status (optional)</option>
    </select>
    <button type="submit" class="btn btn-primary form-control"><span class="glyphicon glyphicon-search">Search</span></button>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th> Info Code </th>
      <th>Health Facility</th>
    </tr>
  </thead>
  <tbody>
    {% for patient in results %}
    <tr>
      <td><a href="{{patient.url}}">{{patient.first_name}} {{patient.last_name}}</a></td>
      <td>{{patient.get_status_display}}</td>
      <td>{{patient.info_code}}</td>
      <td>{{patient.health_facility.name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav class="pull-right">
  <ul class="pagination">
    <!-- <li> -->
    <!--   <a href="#" aria-label="Previous"> -->
    <!--     <span aria-hidden="true">First</span> -->
    <!--   </a> -->
    <!-- </li> -->
    {% if previous %}
    <li><a href="{{previous}}">Previous</a></li>
    {% endif %}
    {% if next %}
    <li><a href="{{next}}">Next</a></li>
    {% endif %}
    <!-- <li><a href="#">2</a></li> -->
    <!-- <li><a href="#">3</a></li> -->
    <!-- <li><a href="#">4</a></li> -->
    <!-- <li><a href="#">5</a></li> -->
    <!-- <li> -->
    <!--   <a href="#" aria-label="Next"> -->
    <!--     <span aria-hidden="true">First</span> -->
    <!--   </a> -->
    <!-- </li> -->
  </ul>
</nav>

{% endblock %}
