{% extends "index.html" %}
{% load i18n %}

{% block main %}

  	<h2><span class="fa fa-bed"></span> Patients</h2>

    <div>
      <form>
        <input type="">

        <button class="btn btn-default"><i class="fa fa-search"></i> Search</button>

        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

      </form>
    </div>

    <table class="table table-boxed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Info Code</th>
          <th>Health Facility</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in results %}
        <tr>
          <td><a href="{{patient.url}}">{{patient.first_name}} {{patient.last_name}}</a></td>
          <td>{{patient.info_code}}</td>
          <td><a href="{{patient.health_facility.url}}">{{patient.health_facility.name}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav class="pull-right">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">First</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">First</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>

{% endblock %}
