{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

{{ block.super }}

  <form action="" id="patientForm" name="patientForm">

    <div class="column">

    <hr>

    {% block formheader %}
    {% endblock %}

    <div id="alerts" class="text-center"></div>

    <h3>Patient Status</h3>
    <div class="form-group col-md-12" id="patientStatusSelect">

    </div>

  </div>

  <div class="row">
    <div class="col-md-6">

      <h3>Patient Info</h3>

      <div class="form-group">
        <label class="control-label" for="first_name">First Name</label>
        <!-- <input type="text" class="form-control" name="firstName" value="{{first_name}}"> -->
        <input type="text" class="form-control" id="first_name" name="first_name">
      </div>

      <div class="form-group">
        <label class="control-label" for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{last_name}}" required>
      </div>

      <div class="form-group">
        <label class="control-label" for="contact_phone_number">Next of Kin Phone Number</label>
        <input type="text" class="form-control" id="contact_phone_number" name="contact_phone_number" value="{{contact_phone_number}}">
      </div>

      {% block infocode %}
      {% endblock %}

    </div>


    <div class="col-md-6">

      <h3>Internal Use</h3>

      <div class="form-group">
        <label>Patient ID</label>
        <input type="text" class="form-control" name="patient_id" value="{{ patient_id }}">
      </div>

      <div class="form-group">
        <label>Health Facility</label>
        <select class="form-control" name="health_facility" id="healthFacilitySelect">
          <!-- <option value="{{health_facility_id}}">{{health_facility.name}}</option> -->
        </select>
      </div>
      
    </div>
  </div>
  </form>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3>Status Notifications</h3>
      <ul class="list-group">
        {% for r in revisions %}
          <li class="list-group-item">
          {{ r.user.username }} changed
          {% for k, v in r.diff.items %}
            {% if k == 'first_name' %}first name
            {% elif k == 'last_name' %}last name
            {% elif k == 'contact_phone_number' %}phone
            {% elif k == 'patient_id' %}Patient ID
            {% elif k == 'health_facility' %}health facility
            {% elif k == 'status' %}status
            {% endif %}:
            {{ v | safe}}
          {% endfor %}
          {{ r.timestamp | timesince}}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  {{ block.super }}
{% endblock %}
